<div class="footer">
	<div class="footer-top">
		<div class="footer-top-box clearfix">
			<div class="l footer-link">
				<dl>
					<dt class="dt-title"><a href="/">勾股CMS</a></dt>
					<dd><a href="/home/index/logs.html">开发手册</a></dd>
					<dd><a href="/home/index/logs.html">进阶指南</a></dd>
					<dd><a href="/home/index/down.html">下载中心</a></dd>
					<dd><a href="/admin">在线演示</a></dd>
				</dl>
			</div>
			<div class="l footer-link">
				<dl>
					<dt class="dt-title"><a href="/home/index/logs.html">使用帮助</a></dt>
					<dd><a href="/home/index/logs.html">在线社区</a></dd>
					<dd><a href="/home/index/logs.html">帮助中心</a></dd>
					<dd><a href="/home/index/logs.html">常见问题</a></dd>
				</dl>
			</div>
			<div class="l footer-link">
				<dl>
					<dt class="dt-title"><a href="http://www.baidu.com">第三方支持</a></dt>
					<dd><a href="https://www.kancloud.cn/manual/thinkphp6_0" target="_blank">ThinkPHP6.0开发手册</a></dd>
					<dd><a href="https://www.layui.com/doc/" target="_blank">Layui开发文档</a></dd>
					<dd><a href="https://fly.layui.com/extend/" target="_blank">Layui扩展组件</a></dd>
				</dl>
			</div>
			<div class="l footer-link">
				<dl>
					<dt class="dt-title"><a href="tencent://message/?uin=327725426&Site=SuperNic&Menu=yes">商务合作</a></dt>
					<dd><a href="tencent://message/?uin=327725426&Site=SuperNic&Menu=yes">定制开发</a></dd>
					<dd><a href="tencent://message/?uin=327725426&Site=SuperNic&Menu=yes">插件开发</a></dd>
					<dd><a href="tencent://message/?uin=327725426&Site=SuperNic&Menu=yes">赞助投资</a></dd>
					<dd><a href="tencent://message/?uin=327725426&Site=SuperNic&Menu=yes">广告投放</a></dd>
				</dl>
			</div>
			<div class="r footer-about">
				<dl>
					<dt>联系方式</dt>
					<dd>电子邮箱：hdm58@qq.com</dd>
					<dd>QQ交流群：24641076</dd>
					<dd><a href="https://github.com/" target="_blank" rel="nofollow" class="site-fork">GitHub</a></dd>
					<dd><a href="https://gitee.com/gougucms/gougucms" target="_blank" rel="nofollow" class="site-fork">Gitee</a></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-bottom-box clearfix">
			<div class="l">
				{:get_system_config('web','copyright')}
					<a target="_blank" rel="nofollow" style="margin-left: 15px;color:#dad8d5" href="http://www.beian.gov.cn/portal/registerSystemInfo">{:get_system_config('web','beian')}</a><a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow" style="margin-left: 15px;color:#dad8d5">{:get_system_config('web','icp')}</a>
			</div>
			<div class="r">Powered by GouguCMS</div>
		</div>
	</div>
</div>